/** Animation duration. */
@mmspn_transition_duration: 0.3s;

/** Arrow size. */
@mmspn_arrow_size: 10px;

/** Arrow weight. */
@mmspn_arrow_weight: 2px;

/** Border opacity. */
@mmspn_border_opac: 0.15;

/** Navbar opacity. */
@mmspn_navbar_opac: 0.4;

/** Arrow opacity. */
@mmspn_arrow_opac: 0.4;

/** Item height. */
@mmspn_item_height: 50px;

/** Item indent. */
@mmspn_item_indent: 20px;

/** Line height. */
@mmspn_line_height: 24px;

/** Panel offset. */
@mmspn_panel_offset: 100%;