@import "_variables";
@import "_additional-variables";

.search-component--suggestions,
.search-component--info,
.search-component--results {
    .mm-spn & {
        left: calc(-100% - @mmspn_searchbox_sidemargin--desktop);
    }

    .mm-spn--open & {
        left: 0;
    }
}

//Menu searchbox
.mm-spn {
    .mm-searchbox {
        position: relative;
        height: @mmspn_searchbox_height;
        width: calc(100% - 48px);
        margin-left: @mmspn_searchbox_sidemargin--desktop;
        margin-right: @mmspn_searchbox_sidemargin--desktop;
        margin-bottom: @mmspn_searchbox_margin-bottom;
        text-align: center;

        @media (min-width: (@breakpoint-l)) {
            height: @mmspn_searchbox_height--desktop;
            margin-bottom: @mmspn_searchbox_margin-bottom--desktop;
        }

        &.mm-spn--open {
            height: fit-content;

            .ee_icon-searchicon {
                fill: @theme-darkest-gray !important;
            }
        }

        &.mm-hidden {
            visibility: visible;
            opacity: 1;
        }

        .search-component--content__mobile {
            display: block;
            margin-left: 0;
        }

        .ee_input-wrapper {
            position: relative;
        }

        .ee_input-adornment {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;

            svg {
                fill: #AEAEAE !important;
            }

            &--left {
                left: 20px;
            }

            &--right {
                right: 20px;
            }
        }

        .ee_input-adornment__label {
            display: flex;
            align-items: center;
        }

        .search-component--input {
            padding: 0;
            display: block;
        }

        .ee_input {
            padding: 12px 58px 12px 50px !important;
            height: 48px;
            font-size: 14px;
            border-radius: 32px !important;
            border: none;
            background-color: @theme-lightest-gray !important;
        }

        .search-component--info,
        ul {
            padding-left: 36px;
        }
    }

    .search-component--suggestions,
    .search-component--info,
    .search-component--results {
        position: relative;
        text-align: left;
        margin-top: 32px;
        transition: left @mmspn_transition_duration ease 0s;

        @media (min-width: (@breakpoint-l)) {
            margin-top: 48px;
        }

        p {
            padding-left: 0;
            font-size: 12px;
            font-weight: bold;
            color: @theme-darkest-gray;
        }

        li:hover {
            background: transparent;
        }
    }
}